.m-1 {
  margin: 1rem; }

.my-1 {
  margin: 1rem 0; }

.p-1 {
  padding: 1rem; }

.py-1 {
  padding: 1rem 0; }

.m-2 {
  margin: 2rem; }

.my-2 {
  margin: 2rem 0; }

.p-2 {
  padding: 2rem; }

.py-2 {
  padding: 2rem 0; }

.m-3 {
  margin: 3rem; }

.my-3 {
  margin: 3rem 0; }

.p-3 {
  padding: 3rem; }

.py-3 {
  padding: 3rem 0; }

.m-4 {
  margin: 4rem; }

.my-4 {
  margin: 4rem 0; }

.p-4 {
  padding: 4rem; }

.py-4 {
  padding: 4rem 0; }

.m-5 {
  margin: 5rem; }

.my-5 {
  margin: 5rem 0; }

.p-5 {
  padding: 5rem; }

.py-5 {
  padding: 5rem 0; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
  background-color: #515661;
  color: #fff; }

a {
  text-decoration: none;
  color: #fff;
  font-weight: 500; }

ul {
  list-style: none; }

img {
  width: 100%; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1rem 1.5rem 2.5rem; }

.header {
  background-color: #425380;
  width: auto;
  border-bottom: 1px solid #171c2c; }

.about-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  text-align: right; }

.header__about {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0 1rem 1rem 0;
  color: #fff; }
  .header__about:hover {
    color: #5eafaf; }

.brand-icon {
  vertical-align: center;
  color: #5eafaf; }

.about-icon {
  color: #5eafaf; }

.text-primary {
  color: #f4f4f4;
  font-weight: 300;
  font-size: 2rem; }

.branding {
  font-size: 5rem;
  padding: 0.5rem 0;
  text-align: center; }

.culchrSpan {
  padding-left: 1rem; }

@media (min-width: 45rem) {
  .branding {
    font-size: 8rem; } }

.container-lead {
  color: white;
  max-width: 65rem;
  padding: 0 1rem 1rem 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.lead {
  padding: 1.2rem;
  padding-bottom: 0;
  width: 100%;
  text-align: center; }

.grid {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-auto-rows: minmax(18rem, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 2rem; }

.testimonial {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
  background: #408181;
  border: #2f5f5f 2px solid;
  padding: 2.5rem 1rem;
  box-shadow: 5px 10px #42464f;
  transition: all 0.2s ease-in;
  animation-name: Fade;
  animation-duration: 1s; }
  .testimonial:hover {
    background: #5369a2;
    color: #91c8c8; }

.test-name {
  display: inline-flex;
  flex-grow: 1;
  text-align: right;
  align-items: flex-end;
  justify-items: flex-end;
  justify-content: flex-end;
  padding-top: 1rem; }

@keyframes Fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.form-intro {
  font-size: 1.2rem;
  width: 80%; }

.input {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 2rem; }

.input-label {
  font-size: 1.2rem; }

.input-input {
  background: #696969;
  border: none;
  border-bottom: #434343 2px solid;
  margin: 1rem 0;
  padding: 1rem;
  color: white;
  font-size: 1.5rem; }

.input > * {
  width: 100%; }

.btn {
  background: #408181;
  color: white;
  margin: 1rem 0;
  font-size: 1.5rem;
  border: none;
  border-bottom: #377070 2px solid;
  padding: 1rem;
  transition: all 0.2s ease-in; }
  .btn:hover {
    background: #65b2b2;
    color: #425380; }

.btn-reset {
  background: #39486f;
  width: 80%;
  margin: 1rem auto;
  color: #5eafaf;
  font-size: 1.5rem;
  border: none;
  border-bottom: #313d5e 2px solid;
  padding: 1rem;
  transition: all 0.2s ease-in; }
  .btn-reset:hover {
    background: #455787; }

::placeholder {
  color: #f4f4f4;
  opacity: 40%; }

.output-grid-container {
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 1rem 1.2rem; }

.letters-grid {
  display: grid;
  grid-auto-rows: minmax(5rem, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  text-align: center;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  color: #5eafaf;
  animation-name: Fade;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 1s; }

.phrases-grid {
  display: grid;
  grid-auto-rows: minmax(5rem, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  align-items: center;
  justify-content: center;
  word-break: break-word;
  padding-top: 0.5rem;
  animation-name: Fade;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 2s; }

.result-preface {
  display: flex;
  max-width: 65rem;
  margin: 0 auto; }

.result-banner {
  width: 80%;
  margin: 0 auto;
  background: #28324e;
  padding: 1rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2rem;
  border-bottom: #313d5e 1px solid;
  color: #5eafaf; }

.brand {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0px;
  color: white; }

.culchrSpan2 {
  padding-left: 0.2rem; }

@keyframes Fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.lead-line {
  width: 80%;
  margin: 0 auto;
  border-top: #5eafaf 2px solid;
  font-size: 1.3rem;
  padding-top: 1rem;
  text-align: center;
  font-weight: 300; }

.goodbyeSwine {
  color: #5eafaf;
  text-align: center; }

.test-def {
  display: inline-flex;
  flex-grow: 1;
  text-align: left;
  align-items: self;
  justify-items: center;
  justify-content: center;
  padding-top: 1rem; }

.lead-about {
  width: 90%; }

.about-green {
  font-weight: 700;
  font-size: 3rem;
  color: #5eafaf; }

.about-text {
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 300; }

.about-footer {
  width: 90%;
  padding-top: 2rem;
  text-align: center;
  font-size: 0.1rem;
  color: #5eafaf; }

.jumpy {
  animation-name: Fade;
  animation-duration: 3s; }

@keyframes Fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
