.lead-about {
	width: 90%;
}
.about-green {
	font-weight: 700;
	font-size: 3rem;
	color: $green-color;
}
.about-text {
	padding: 1rem 0;
	font-size: 1.4rem;
	font-weight: 300;
}
.about-footer {
	width: 90%;
	padding-top: 2rem;
	text-align: center;
	font-size: 0.5rem;
	color: $green-color;
}
.jumpy {
	width: 100%;
	height: auto;
	animation-name: Fade;
	animation-duration: 3s;
}

@keyframes Fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
