.lead-line {
  width: 90%;
  margin: 0 auto;
  border-top: $green-color 2px solid;
  font-size: 1.4rem;
  padding: 1rem 0;
  text-align: center;
  font-weight: 300;
}
.goodbyeSwine {
  color: $green-color;
  text-align: center;
  padding-bottom: 1rem;
}
.test-def {
  display: inline-flex;
  flex-grow: 1;
  text-align: left;
  align-items: self;
  justify-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.container-defined {
  max-width: 65rem;
  margin: 0 auto;
  justify-content: left;
  text-align: left;
}
.defined-margin {
  width: 95%;
  margin: 0 auto 3rem;
  background: darken(#515661, 3%);
  padding: 2.5rem 1.2rem;
  box-shadow: 5px 10px darken($shadow-color, 2%);
}
.defined-lead {
  width: 85%;
  margin: 0 auto;
  color: $green-color;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
  padding-bottom: 2.2rem;
}
.defined-ul {
  width: 85%;
  margin: 0 auto;
  font-size: 1.2rem;
  color: white;
}
