// Sizing

$max-width: 110rem;
$desktop-breakpoint: 45rem;

// Margin and Padding

$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  // All Margin
  .m-#{$space} {
    margin: #{$space}rem;
  }
  // Vertical Margin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }
  // All Padding
  .p-#{$space} {
    padding: #{$space}rem;
  }
  // Vertical Padding
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}

// Colors

$primary-color: #cfcfcf;
$dark-color: #696969;
$light-color: #f4f4f4;
$danger-color: #e83838;
$success-color: #28a745;
$white-color: #fff;
$background-color: #228b8b;
$blue-color: #425380;
$green-color: #5eafaf;
$shadow-color: #42464f;

// Set Text Color based on Background

@function set-text-color($color) {
  @if (lightness($color) > 55) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// Set Background and Text Color

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
  background-color: #515661;
  color: $white-color;
}

a {
  text-decoration: none;
  color: $white-color;
  font-weight: 500;
}
ul {
  padding-left: 1.5rem;
}
img {
  width: 100%;
}
