.output-grid-container {
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 1rem 1.2rem;
}
.letters-grid {
  display: grid;
  grid-auto-rows: minmax(5rem, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  text-align: center;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  color: $green-color;
  animation-name: Fade;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}
.phrases-grid {
  display: grid;
  grid-auto-rows: minmax(5rem, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  align-items: center;
  justify-content: center;
  word-break: break-word;
  padding-top: 0.5rem;
  animation-name: Fade;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-delay: 2s;
}
.result-preface {
  display: flex;
  max-width: 65rem;
  margin: 0 auto;
}
.result-banner {
  width: 80%;
  margin: 0 auto;
  background: darken($blue-color, 15%);
  padding: 1rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2rem;
  border-bottom: darken($blue-color, 10%) 1px solid;
  color: $green-color;
}
.brand {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0px;
  color: white;
}
.culchrSpan2 {
  padding-left: 0.2rem;
}

@keyframes Fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
