.form-intro {
  font-size: 1.4rem;
  width: 90%;
}

.input {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}

.input-label {
  position: absolute;
  top: 25%;
  padding: 0.5rem 0 0 1rem;
  transition: all 250ms;
  opacity: 0.5;
  font-size: 1.4rem;
}
.input-input:focus + .input-label,
.input-input:valid + .input-label {
  font-size: 75%;
  transform: translate3d(0, -160%, 0);
  opacity: 1;
}

.input-input {
  background: $dark-color;
  border: none;
  border-bottom: darken($dark-color, 15%) 2px solid;
  margin: 1rem 0;
  padding: 1.5rem;
  color: white;
  font-size: 1.6rem;
}
.input > * {
  width: 100%;
}
.btn {
  background: darken($green-color, 15%);
  color: white;
  margin: 1rem 0;
  font-size: 1.5rem;
  border: none;
  border-bottom: darken($green-color, 20%) 2px solid;
  padding: 1.5rem;
  transition: all 0.2s ease-in;
  &:hover {
    background: lighten($green-color, 2%);
    color: $blue-color;
  }
}

.btn-reset {
  background: darken($blue-color, 5%);
  width: 90%;
  margin: 2rem auto;
  color: $green-color;
  font-size: 1.5rem;
  border: none;
  border-bottom: darken($blue-color, 10%) 2px solid;
  padding: 1.5rem;
  transition: all 0.2s ease-in;
  &:hover {
    background: lighten($blue-color, 2%);
  }
}

::placeholder {
  color: $light-color;
  opacity: 40%;
}
