.container-lead {
  color: white;
  max-width: 65rem;
  padding: 0 1rem 1rem 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lead {
  padding: 1.4rem;
  padding-bottom: 0;
  width: 100%;
  text-align: center;
}
.grid {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-auto-rows: minmax(20rem, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 2rem;
}
.testimonial {
  display: flex;
  color: $white-color;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
  background: darken($green-color, 15%);
  border: darken($green-color, 25%) 2px solid;
  padding: 2.5rem 1.2rem;
  box-shadow: 5px 10px $shadow-color;
  transition: all 0.2s ease-in;
  animation-name: Fade;
  animation-duration: 1s;
  &:hover {
    background: lighten($blue-color, 10%);
    color: lighten($green-color, 15%);
  }
}

.test-name {
  display: inline-flex;
  flex-grow: 1;
  text-align: right;
  align-items: flex-end;
  justify-items: flex-end;
  justify-content: flex-end;
  padding-top: 1rem;
}

.review-hide {
  border: none;
  background: none;
  color: darken($green-color, 10%);
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  outline: none;
  justify-content: center;
  text-align: center;
}
.icon-pulse {
  animation-name: Pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes Fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Pulse {
  0% {
    color: $green-color;
  }

  100% {
    color: lighten($green-color, 25%);
  }
}
